# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Secrets
.env

#Test files
test_embed.py
test_fetch.py
test.py

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
