@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}
